# Claude
.claude/
!CLAUDE.md

# Mac OS files
._*

# vscode files
.vscode/
.env
.DS_Store

# LaTex files
*.gz
*.out
*.aux
*.log

# RStudio files
.RData
.Rhistory
.Rproj.user

# dataset
dataset/

# Python cache
__pycache__

# checkpoints
checkpoints/

# logs
logs/