# Claude
.claude/
!CLAUDE.md

# vscode
.DS_Store

# local env file
.env

# Mac OS files
._*

# vscode files
.vscode/
.env
.DS_Store

# LaTex files
*.gz
*.out
*.aux
*.log

# RStudio files
.RData
.Rhistory
.Rproj.user

# dataset
dataset/

# Python cache
__pycache__

# checkpoints
checkpoints/

# logs
logs/

# demo file
proposal/Traffic_Sign_Classification_PyTorch_Full (1).ipynb
